.container {
    background-color: #fff;
    padding: 2.8rem 2rem;
    margin-left: 2.5rem;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.controls {
    display: flex;
    gap: 0.5rem;

    select {
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 14px;
    }
}

.close-btn {
    background: #ff4d4d;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 4px 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.close-btn:hover {
    background: #e63939;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
}

th {
    padding: 10px 0;
    background: #4e91ff;
    color: white;
    font-weight: 600;
    border: none;
}

td {
    width: 3rem;
    height: 4rem;
    text-align: center;
    font-size: 0.7rem;
    border: 1px solid #e5e5e5;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 4px;
}

.td-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.day-number {
    font-weight: bold;
    margin-bottom: 4px;
}

.box-form {
    font-size: 12px;
    color: #333;
    background: #f0f8ff;
    padding: 2px 4px;
    border-radius: 4px;
    width: 90%;
    text-align: center;
}

td.out {
    color: #ccc;
    background: #f5f5f5;
}

td:not(.out):hover {
    background: #e6f0ff;
    border-color: #4e91ff;
    color: #000;
}

td.active {
    background: #4e91ff;
    color: white !important;
    border-color: #4e91ff;
}