<div class="container">

  <!-- FILTER / CONTROL -->
  <div class="filter">
    <label>Tháng:</label>
    <select [(ngModel)]="selectedMonth" (ngModelChange)="onMonthYearChange()">
      <option *ngFor="let m of [1,2,3,4,5,6,7,8,9,10,11,12]" [value]="m">{{m}}</option>
    </select>

    <label>Năm:</label>
    <input type="number" [(ngModel)]="selectedYear" min="2025" max="2027" (ngModelChange)="onMonthYearChange()" />

    <ng-content select="[extraControls]"></ng-content>

  </div>

  <!-- CALENDAR -->
  <table class="calendar">
    <thead>
      <tr>
        <th *ngFor="let d of ['Thứ 2','Thứ 3','Thứ 4','Thứ 5','Thứ 6','Thứ 7','Chủ nhật']">{{d}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let week of weeks; let rowIndex = index">
        <td *ngFor="let day of week; let colIndex = index"
            [class.not-in-month]="!day.inMonth"
            [class.day-off]="day.isDayOff"
            (click)="onDayClick(day, rowIndex, colIndex)">
          
          {{ day.inMonth ? day.date.getDate() : '' }}


<!-- hiển thị các ca -->
<ng-container *ngFor="let shift of day.shifts">

  <!-- Ẩn hoàn toàn shift-block khi isDayOff = true -->
  <div class="shift-block"
       *ngIf="!shift.isDayOff"
       (click)="role === 'manager' && openEditShift(day, shift); $event.stopPropagation()">

      <!-- Manager hiển thị tên nhân viên + tên ca -->
      <span *ngIf="role === 'manager'">
        {{ shift.employeeFullName || '???' }} - {{ shift.shiftName }}
      </span>

      <!-- Employee hiển thị tên ca -->
      <span *ngIf="role === 'employee'">
        {{ shift.shiftName }}
      </span>

  </div>

</ng-container>




          <ng-content select="[extraDayContent]"></ng-content>
        </td>
      </tr>
    </tbody>
  </table>
<div class="edit-popup" *ngIf="selectedShiftData && role === 'manager'">

  <h3>Sửa ca làm việc</h3>

  <p><strong>Nhân viên:</strong> {{ selectedShiftData.employeeFullName }}</p>
  <p><strong>Ngày:</strong> {{ selectedShiftData.date }}</p>

  <label>Loại ca:</label>
  <div class="type-group">
    <label>
      <input type="radio" name="type" (change)="changeType(8)" value="8" /> Ca 8 tiếng
    </label>

    <label>
      <input type="radio" name="type" (change)="changeType(6)" value="6" /> Ca 6 tiếng
    </label>
  </div>

  <label>Chọn ca:</label>
  <select [(ngModel)]="shiftId" name="shiftId" required>
    <option [ngValue]="null" disabled selected>-- Chọn ca --</option>

    <option *ngFor="let s of list" [value]="s.shift_id">
      {{ s.shift_name }} | {{ s.start_time }} → {{ s.end_time }}
    </option>

    <option value="53">AL</option>
    <option value="54">SL</option>
    <option value="55">PL</option>
    <option value="56">ML</option>
    <option value="57">UL</option>
  </select>

  <div class="btn-group">
    <button class="save-btn" (click)="saveShift()">Lưu thay đổi</button>
    <button class="cancel-btn" (click)="selectedShiftData = null">Hủy</button>
  </div>
</div>


</div>
<app-loading 
  *ngIf="isloading"
></app-loading>

<app-comfirm
  *ngIf="isconfirm"
  [message]="confirmMessage"
  (result)="onConfirmResult($event)"
></app-comfirm>

<app-alert
  *ngIf="isalert"
  [message]="alertmessage"
  [notifyType]="alertType"
   (hidden)="isalert = false"
></app-alert>