.container {
    padding: 3rem 5rem;

    .filter {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 16px;
        font-size: 15px;

        label {
            font-weight: 600;
        }

        select,
        input {
            padding: 4px 6px;
            border-radius: 4px;
            border: 1px solid #ccc;
            outline: none;

            &:focus {
                border-color: #0066ff;
            }
        }


    }

    .calendar {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;

        th {
            border: 1px solid #ccc;
            padding: 10px;
            font-weight: 700;
            text-align: center;
            background: #f2f6ff;
        }

        td {
            border: 1px solid #ccc;
            height: 110px;
            vertical-align: start;
            padding: 6px;
            position: relative;
            overflow-y: auto;

            /* số ngày */
            &::first-line {
                font-weight: 600;
            }
        }

        td.not-in-month {
            background-color: #f5f5f5;
        }

        td.day-off {
            background-color: #ffe6e6;
        }

        /* Hiển thị từng ca */
        .shift-block {
            background-color: #d9eaff;
            margin: 4px 0;
            padding: 3px 6px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 12px;
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            border-left: 4px solid #4d8cff;

            &:hover {
                background-color: #c4dcff;
            }
        }

        /* OFF shift */
        .shift-block.off {
            background-color: #ffe0e0;
            border-left-color: #ff5c5c;
            color: #d22;
            font-weight: 600;
        }
    }
}