<div class="page-container">

  <!-- HEADER MENU -->
<div class="header">
  <div class="menu-item" 
       [class.active]="tab === 'check'" 
       (click)="changeTab('check')">
      Kiểm tra hợp đồng
  </div>

  <div class="menu-item" 
       [class.active]="tab === 'search'" 
       (click)="changeTab('search')">
      Tìm hợp đồng
  </div>
</div>


  <!-- RIGHT CONTENT -->
  <div class="content">
    
    <!-- NÚT THÊM HỢP ĐỒNG -->
    <button class="add-btn" (click)="addContract()">+</button>

    <!-- ===== TAB KIỂM TRA HỢP ĐỒNG ===== -->
    <div *ngIf="tab === 'check'">
      <h2>Kiểm tra hợp đồng</h2>
      <label>Mã nhân viên</label>
      <input type="text" [(ngModel)]="employeeId" placeholder="Nhập ID nhân viên">
      <div class="btn-group">
        <button (click)="checkSignedContract()">Kiểm tra hợp đồng đã ký</button>
        <button (click)="viewEmployeeContracts()">Xem danh sách hợp đồng</button>
      </div>
    </div>

    <!-- ===== TAB TÌM HỢP ĐỒNG ===== -->
    <div *ngIf="tab === 'search'">
      <h2>Tìm hợp đồng</h2>
      <label>Tên username</label>
      <input type="text" [(ngModel)]="filters.username" placeholder="Nhập tên user">

      <label>Loại hợp đồng</label>
      <select [(ngModel)]="filters.type">
        <option value="">-- Chọn loại --</option>
        <option value="INDEFINITE">Không xác định thời hạn</option>
        <option value="FIXED_TERM">Có thời hạn</option>
        <option value="PROBATION">Thử việc</option>

      </select>

      <label>Trạng thái hợp đồng</label>
      <select [(ngModel)]="filters.status">
        <option value="">-- Chọn status --</option>
        <option *ngFor="let st of statusContract" [value]="st">
          {{translateContractStatus(st)}}
        </option>
      </select>

        <label>Loại Phụ cấp Độc hại</label>
        <select [(ngModel)]="filters.allowanceToxicType">
          <option value="">-- Chọn --</option>
          <option value="NONE">Không áp dụng</option>
          <option value="CASH">Chi trả bằng Tiền mặt</option>
          <option value="IN_KIND">Chi trả bằng Hiện vật</option>
        </select>

      <label>Ngày hiệu lực (start)</label>
      <input type="date" [(ngModel)]="filters.startdate">

      <label>Ngày kết thúc (end)</label>
      <input type="date" [(ngModel)]="filters.enddate">

      <button class="search-btn" (click)="searchContract()">Tìm kiếm</button>
    </div>
  </div>
</div>


<!-- ===== POPUP ===== -->
<div class="overlay" *ngIf="showPopup">
  <div class="popup-box">

    <button class="close-btn" (click)="closePopup()">×</button>

    <!-- 🔥 MODE: MESSAGE -->
    <div *ngIf="popupMode === 'message'">
      <h3 class="mess">Thông báo</h3>
      <p>{{ messageCheckContract }}</p>
    </div>

    <!-- 🔥 MODE: LIST HỢP ĐỒNG -->
    <div *ngIf="popupMode === 'list'">
      <h3>Danh sách hợp đồng</h3>
      <table class="contract-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Tên hợp đồng</th>
            <th>Loại</th>
            <th>Lương cơ bản</th>
            <th>Lương BHXH</th>
            <th>Phụ cấp độc hại</th>
            <th>Ngày ký</th>
            <th>Ngày hiệu lực</th>
            <th>Ngày hết hạn</th>
            <th>Status</th>
            <th>User</th>
            <th>fileUrl</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let c of listContracts">
            <td>{{ c.id }}</td>
            <td>{{ c.contractname }}</td>
            <td>{{ getVietnameseContractType(c.type) }}</td>
            <td>{{ c.basesalary }}</td>
            <td>{{ c.insuranceSalary }}</td>
            <td>{{ translateAllowanceType(c.allowanceToxicType) }}</td>
            <td>{{ c.signdate }}</td>
            <td>{{ c.startdate }}</td>
            <td>{{ c.enddate }}</td>
            <td>{{ translateContractStatus(c.status) }}</td>
            <td>{{ c.username }}</td>
          <td>
  <ng-container *ngIf="c.fileurl; else noLink">
    <button (click)="copyLink(c.fileurl)">Lấy link</button>
  </ng-container>

  <ng-template #noLink>
    Chưa có link
  </ng-template>
</td>

          </tr>
        </tbody>
      </table>
        <div class="btnexport">
      <button class="exportExcel" (click)="ExportExcel()" >Xuất File</button>

        </div>
    </div>



  </div>
</div>


<app-loading *ngIf="isloading"></app-loading>
<app-alert   *ngIf="isalert"
  [message]="notifyMessage"
  [notifyType]="notifyType"
  (hidden)="isalert = false"></app-alert>