<div class="container">
  <h2>Xếp Ca Tự Động</h2>

<div class="month_year">
  <!-- Chọn tháng -->
  <label>
    Tháng:
    <select [(ngModel)]="savemonth" name="month">
      <option *ngFor="let m of month" [value]="m">{{m}}</option>
    </select>
  </label>

  <!-- Chọn năm -->
  <label>
    Năm:
    <select [(ngModel)]="saveyear" name="year">
      <option *ngFor="let y of year" [value]="y">{{y}}</option>
    </select>
  </label>
</div>


  <div class="type-group">
    <label>
      <input type="radio" name="type" (change)="changeType(8)" value="8" /> Ca 8 tiếng
    </label>
    <label>
      <input type="radio" name="type" (change)="changeType(6)" value="6" /> Ca 6 tiếng
    </label>
  </div>

  <label>Chọn ca:</label>
  <select [(ngModel)]="shiftId" name="shiftId" required>
    <option [ngValue]="null" disabled selected>-- Chọn ca làm việc --</option>
    <option *ngFor="let s of list" [value]="s.shift_id">
      {{ s.shift_name }} | {{ s.start_time }} → {{ s.end_time }}
    </option>
    <option value="53">AL (Anually Leave)</option>
    <option value="54">SL (Sick Leave)</option>
    <option value="55">PL (Paternity Leave)</option>
    <option value="56">ML (Maternity Leave)</option>
    <option value="57">UL (Unpaid Leave)</option>
  </select>

  <label>Số lượng nhân viên cần</label>
  <input type="text" [(ngModel)]="formSchedule.totalStaffNeeded">

  <!-- Input Rule -->
  <label>Cấp độ nhân viên</label>
  <input type="text" [(ngModel)]="formSchedule.requiredSkillGrade">

  <label>Số lượng nhân viên</label>
  <input type="text" [(ngModel)]="formSchedule.minStaffCount">

  <button (click)="addRule()">Thêm rule</button>

  <!-- Nút Save chỉ hiện khi có ít nhất 1 rule -->

  <!-- Các nút chức năng -->
  <button (click)="showRules()">Danh sách rules</button>
  <div class="button_btn">
    <button (click)="checkRules()">Danh sách tiêu chí</button>
    <button (click)="checkDraftSchedule()">Kiểm tra lịch nháp</button>
    <button (click)="viewSchedule()">Xem lịch nháp nhân viên</button>
  </div>

  <!-- Popup Rules -->
  <div class="popup" *ngIf="rulesPopupVisible && hasRules">
    <button class="close-btn" (click)="closeRulesPopup()">&times;</button>
    <h3>Danh sách rules</h3>
    <ul>
      <li *ngFor="let r of formSchedule.rules">
        Cấp độ: {{ r.requiredSkillGrade }}, Số lượng: {{ r.minStaffCount }}
      </li>
    </ul>
     <button *ngIf="hasRules" (click)="saveSchedule()">Save</button>

  </div>

<!-- Popup Draft Schedule -->
<div class="popup" *ngIf="draftPopupVisible">
  <button class="close-btn" (click)="closeDraftPopup()">&times;</button>
  <h3>Lịch nháp</h3>

  <table class="draft-table">
    <thead>
      <tr>
        <th>Ngày</th>
        <th>Ca</th>
        <th>Trạng thái</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of draftData">
        <td>{{ d.date }}</td>
        <td>{{ d.shiftName }}</td>
        <td>
          <span [ngClass]="{'compliant': d.isCompliant, 'non-compliant': !d.isCompliant}">
            {{ d.message }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- Popup Rules -->
<!-- Popup Rules Table -->
<div class="popup" *ngIf="requirementPopupVisible">
  <button class="close-btn" (click)="closeRequirementPopup()">&times;</button>

  <h3>Danh sách tiêu chí xếp ca</h3>
  <span *ngIf="rulesDatalength>0">
    
  <table class="full-table">
    <thead>
      <tr>
        <th>Requirement ID</th>
        <th>Shift Name</th>
        <th>Số NV Cần</th>
        <th>Rule ID</th>
        <th>Skill Grade</th>
        <th>Min Staff</th>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let req of rulesData">
        <tr *ngFor="let r of req.rules; let i = index">

          <td *ngIf="i === 0" [attr.rowspan]="req.rules.length">
            {{ req.requirementId }}
          </td>

          <td *ngIf="i === 0" [attr.rowspan]="req.rules.length">
            {{ getShiftName(req.shiftId) }}
          </td>

          <td *ngIf="i === 0" [attr.rowspan]="req.rules.length">
            {{ req.totalStaffNeeded }}
          </td>

          <td>{{ r.ruleId }}</td>
          <td>{{ r.requiredSkillGrade }}</td>
          <td>{{ r.minStaffCount }}</td>

        </tr>
      </ng-container>
        <button (click)="autoassign()">Xếp Ca Bản Nháp</button>

    </tbody>
  </table>
  </span>
  <span *ngIf="rulesDatalength==0">
    <p>Chưa Có Tiêu Chí Xếp Ca</p>
  </span>
</div>









</div>

<app-loading 
  *ngIf="isloading"
></app-loading>

<app-comfirm
  *ngIf="isconfirm"
  [message]="confirmMessage"
  (result)="onConfirmResult($event)"
></app-comfirm>

<app-alert
  *ngIf="isalert"
  [message]="alertmessage"
  [notifyType]="alertType"
   (hidden)="isalert = false"
></app-alert>