<header class="task-bar">


    <nav class="nav-links">
        <a 
            *ngFor="let item of navItems"
            [routerLink]="item.path" 
            routerLinkActive="active" 
            class="nav-item">
            {{ item.label }}
        </a>
    </nav>

    <div class="actions">
        <button class="logout-btn" (click)="logout()">
            Đăng Xuất
        </button>
    </div>
</header>
<body>
    <div class="left_handle">
  <div *ngFor="let item of icon_handleBar" class="menu-item">
    <!-- Icon chính -->
    <a
      [routerLink]="item.path"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="menu-icon"
    >
      <span class="material-symbols-outlined icon">{{ item.iconName }}</span>
    </a>

    <!-- Danh sách task con -->
    <div class="submenu">
      <a
        *ngFor="let taskname of item.task"
        [routerLink]="taskname.path"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="submenu-link"
      >
        {{ taskname.name }}
      </a>
    </div>
  </div>
</div>


    <router-outlet></router-outlet>
</body>