<header class="task-bar">



    <div class="user-actions">
  <!-- Nút thêm tài khoản -->
  <div class="add-dropdown" (click)="toggleAddDropdown()">
    <span class="material-symbols-outlined add-icon">add</span>

    <div class="dropdown-menu" *ngIf="isAddOpen" (click)="$event.stopPropagation()">
      <div class="feature" *ngFor="let feature of featureAdd">
        <button class="menu-btn"  [routerLink]="feature.path">{{feature.name}}</button>
      </div>
      

    </div>
  </div>

  <!-- Avatar người dùng -->
  <div class="user-dropdown" (click)="toggleUserDropdown()">
    <img src="assets/avatar.png" alt="User Avatar" class="avatar" />
    
    <div class="dropdown-menu" *ngIf="isUserOpen" (click)="$event.stopPropagation()">
      <button class="menu-btn" (click)="changepass()">Đổi mật khẩu</button>
      <button class="logout-btn" (click)="logout()">Đăng xuất</button>
    </div>
  </div>
</div>

</header>
<body>
    <div class="left_handle">
          <nav class="nav-links">
        <a  [routerLink]="['/home', 'info']" 
            routerLinkActive="active" 
            class="nav-item">
            <img src="assets/logo.png" alt="">
        </a>
    </nav>
  <div
    *ngFor="let item of icon_handleBar; let i = index"
    class="menu-item"
  >
    <!-- Icon chính -->
    <a
      href="javascript:void(0)"
      class="menu-icon"
      (click)="toggleSubmenu(i)"
      [class.active]="activeIndex === i"
    >
      <span class="material-symbols-outlined icon">
        {{ item.iconName }}
      </span>
    </a>

    <!-- Danh sách task con -->
    <div class="submenu" *ngIf="activeIndex === i">
      <a
        *ngFor="let taskname of item.task"
        [routerLink]="taskname.path"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="submenu-link"
      >
        {{ taskname.name }}
      </a>
    </div>
  </div>
</div>
  
  <router-outlet ></router-outlet>


</body>