.task-bar {
    position: fixed; // Cố định thanh bar ở trên cùng
    top: 0;
    left: 0;

    width: 100%; // Chiếm toàn bộ chiều rộng

    background-color: #2e3b61; // Màu nền tối
    color: white;

    padding: 0 20px;
    height: 60px; // Chiều cao cố định
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Thêm bóng đổ nhẹ

    display: flex;
    justify-content: flex-end; // Căn cách đều các phần
    align-items: center; // Căn giữa theo chiều dọc
    z-index: 10; // Đảm bảo thanh bar nằm trên các nội dung khác
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: white;
}



// ///////////////////////////////////////////
.user-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    right: 1.4rem;

    .add-dropdown,
    .user-dropdown {
        position: relative;

        span {
            font-size: 0.8rem;
        }

        .add-icon,
        .avatar {
            cursor: pointer;
            transition: transform 0.2s ease, box-shadow 0.2s ease;
        }

        .add-icon {
            color: #2c3e50;
            border-radius: 50%;
            background: #f1f1f1;



            &:hover {
                background: #e0e0e0;
                transform: scale(1.05);
            }
        }

        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            border: 2px solid #fff;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

            &:hover {
                transform: scale(1.05);
            }
        }

        .dropdown-menu {
            position: absolute;
            top: 110%;
            right: 0;
            background: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
            overflow: hidden;
            min-width: 160px;
            z-index: 10;
            animation: fadeIn 0.25s ease;

            .menu-btn,
            .logout-btn {
                width: 100%;
                background: none;
                border: none;
                color: #333;
                text-align: left;
                padding: 0.5rem 0.5rem;
                font-size: 14px;
                cursor: pointer;
                transition: background 0.3s ease;

                &:hover {
                    background: #eae5d4;
                }
            }

            .logout-btn:hover {
                background: red;
                color: #fff;
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

// /////////////////////////////////////////

body {
    display: flex;
    flex-direction: column;
}

.left_handle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 4rem;
    z-index: 11;
    position: fixed;
    background-color: #1c2655;

    .menu-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .menu-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        text-decoration: none;
        padding: 0.6rem 0;
        transition: all 0.2s ease-in-out;
        width: 100%;

        &:hover {
            background-color: #b7b6b6;
            color: #000;

        }

        .icon {
            font-size: 1.3rem;
            margin-left: 0.3rem;
            margin-bottom: 0.2rem;
        }
    }

    .submenu {
        display: flex;
        flex-direction: column;
        animation: fadeIn 0.2s ease-in-out;
        text-align: center;
        width: 100%;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-5px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }


    .submenu-link {
        font-size: 0.5rem;
        color: #fff;
        text-decoration: none;
        padding: 0.2rem 0;
        transition: color 0.2s;

        &:hover {
            color: #90ee90;
        }
    }

    .active {
        color: greenyellow;
    }



}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    background: transparent;

    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff; // nền trắng
        border-radius: 50%; // bo tròn
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); // đổ bóng nhẹ
        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
        }

        img {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}