@use "../../app";

.container {
    display: flex;
    gap: 20px;
    height: 100%;
    position: relative;
    font-size: 0.8rem;

    .item:nth-child(2) {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        .form_login {
            width: 400px;
            padding: 20px;
            border: 1px solid #ccc;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: white;

            &_head {
                text-align: center;
                font-size: 1.5em;
                margin-bottom: 20px;
            }

            &_body {
                .form_login_text {
                    display: flex;
                    flex-direction: column;

                    span {
                        margin-top: 10px;
                        margin-bottom: 5px;
                        font-weight: bold;
                    }

                    input[type="text"],
                    input[type="password"] {
                        padding: 8px;
                        border: 1px solid #ddd;
                        margin-bottom: 10px;
                    }
                }
            }

            .login_button {
                width: 100%;
                padding: 10px;
                background-color: #007bff;
                color: white;
                border: none;
                cursor: pointer;
                margin-top: 15px;
                font-size: 1em;
            }
        }
    }


    .box_response {
        @include app.box_response;
    }

    .layer {
        position: absolute;
        background-color: rgba(204, 204, 204, 0.6);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .loading {
            @extend %loader-typing;
        }
    }

}