<div class="login-container">

  <div class="box_response">
      <div
        *ngIf="message"
        class="alert"
        [class.alert-success]="isSuccess"
        [class.alert-error]="!isSuccess"
      >
        {{ message }}
      </div>
  </div>

  <div class="form_login">
    
    <div class="welcome-box">
      <img src="assets/logo.png" alt="logo" class="logo">
      <h1 class="brand-name">ManaPlastic</h1>
    </div>

    <div class="form_login_body">
      <div class="form_login_text">
        
        <span>Username</span>
        <input
          type="text"
          [(ngModel)]="username"
          placeholder="Enter your username"
        />

        <span>Password</span>
        <input
          type="password"
          [(ngModel)]="password"
          placeholder="Enter your password"
        />

        <button class="login_button" (click)="login()">Login</button>

        <span class="forgot-password" (click)="forgotPassword()">
          Quên mật khẩu?
        </span>
      </div>
    </div>
  </div>

</div>

<app-loading *ngIf="isloading"></app-loading>