<div class="forget-password-container">
  <div class="form_box">

    <!-- Step 1 -->
    <ng-container *ngIf="step === 1">
      <span>Email</span>
      <input type="email" [(ngModel)]="email" placeholder="Nhập email">
      <button class="login_button" (click)="sendEmail(email)">
        Gửi
      </button>
    </ng-container>

    <!-- Step 2 -->
    <ng-container *ngIf="step === 2">
      <span>OTP</span>
      <input type="text" [(ngModel)]="otp" placeholder="Nhập OTP">
      <button class="login_button" (click)="verifyOtp(otp)">
        Xác nhận OTP
      </button>
    </ng-container>

    <!-- Step 3 -->
    <ng-container *ngIf="step === 3">
      <span>Mật khẩu mới</span>
      <input type="password" [(ngModel)]="newPassword" placeholder="Nhập mật khẩu mới">

      <span>Xác nhận mật khẩu</span>
      <input type="password" [(ngModel)]="confirmPassword" placeholder="Nhập lại mật khẩu">

      <button class="login_button" (click)="resetPassword()">
        Lưu mật khẩu mới
      </button>
    </ng-container>

  </div>
</div>

<app-loading *ngIf="isloading"></app-loading>
<app-alert
  *ngIf="isalert"
  [message]="alertmessage"
  [notifyType]="alertType"
  (hidden)="isalert = false"
></app-alert>
