<div class="schedule-container compact-view">
  <app-tablemonth 
    [dayData]="dayData" 
    (selectDay)="handleDayClick($event)" 
    (monthYearChange)="handleMonthYear($event)"
    
    (statusChange)="selectStatus = $event; chooseSchedule()"
    (upOffice)="UpOfficeSchedule()"
    (autoSchedule)="autoSchedule()"
    (register)="registerShift()"
    >
    <!-- Nội dung trong này đã được chuyển vào bên trong Tablemonth -->
  </app-tablemonth>
</div>

<!-- Global Components -->
<app-loading *ngIf="isloading"></app-loading>

<app-comfirm 
  *ngIf="isconfirm" 
  [message]="confirmMessage" 
  (result)="onConfirmResult($event)">
</app-comfirm>

<app-alert 
  *ngIf="isalert" 
  [message]="alertmessage" 
  [notifyType]="alertType" 
  (hidden)="isalert = false">
</app-alert>