.change-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    height: 100vh;

    .card {
        background-color: white;
        padding: 2rem 1.5rem;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: left;
        width: 25rem;
        height: 20rem;
        display: block;

        .form {
            display: flex;
            flex-direction: column;
            width: 100%;

            h3 {
                // 💡 Style tiêu đề Reset Password
                font-size: 1.4rem;
                font-weight: 700;
                margin-bottom: 0.5rem;
                color: #333;
                text-align: left;
            }

            .form-description {
                font-size: 0.7rem;
                color: #555;
            }

            label {
                text-align: left;
                font-size: 0.7rem;
                margin-top: 1.2rem; // Tăng khoảng cách trên
                color: #333;
                font-weight: 500;
            }

            input {
                padding: 0.75rem 1rem; // Tăng padding input
                border: 1px solid #ddd;
                border-radius: 8px;
                margin-top: 0.5rem;
                font-size: 0.7rem;


                &:focus {
                    outline: none;
                    border-color: #6c5ce7; // Màu tím khi focus
                    box-shadow: 0 0 4px rgba(108, 92, 231, 0.5);
                }
            }

            .button-group {
                margin-top: 2rem;
            }

            .btn-reset {
                /* 💡 Style cho nút Reset Password */
                width: 100%;
                background-color: #6c5ce7;
                /* Màu tím tương ứng Magenta/Violet */
                color: white;
                padding: 0.9rem 1rem;
                border: none;
                border-radius: 8px;
                cursor: pointer;
                font-size: 0.7rem;
                font-weight: 600;
                transition: background-color 0.3s;
                box-shadow: 0 4px 8px rgba(108, 92, 231, 0.3);
                display: flex;
                align-items: center;
                justify-content: center;



                &:hover {
                    background-color: #5d4ce5;
                }
            }


        }
    }
}